.about-company {
  min-width: 100%;
  max-width: 100%;
  background-color: $color-alice-blue-bg;
}

.about-company .container {
  max-width: 78%;
  display: grid;
  grid-template-columns: 203px 1fr;
  margin: 0 auto;
  padding-top: 2.4%;
  padding-left: 7.1%;
  // border:  2px solid red;
  padding-bottom: 5.1%;

  @include vp-1023 {
    max-width: 88%;
    padding-top: 9.4%;
    padding-bottom: 8.6%;
    padding-left: 0.5%;
    column-gap: 1.5%;
  }

  @include vp-767 {
    padding-top: 34.4%;
    padding-bottom: 24.5%;
    grid-template-columns: 1fr;
    padding-left: 2%;
  }
}

.about-company__content {
  position: relative;
}

.about-company img {
  @include vp-1023 {
    height: 390px;
    width: 180px;
  }
}

.about-company picture {
  @include vp-767 {
    display: none;
  }
}

.about-company__content h2 {
  margin: 0;
  margin-bottom: 0.3%;
  display: block;
  // word-wrap: break-word;
  word-break: normal;
  word-wrap: normal;
  overflow-wrap: normal;
  max-width: 50vw;
  color: $color-black-perl;
  font-family: $ff-roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -3.1px;
  line-height: 49.63px;

  @include vp-1023 {
    font-size: 43px;
    margin-bottom: 3.6%;
    letter-spacing: 0.6px;
  }

  @include vp-767 {
    max-width: 80vw;
    font-size: 3em;
    letter-spacing: 0.9px;
    line-height: 39.38px;
    margin-bottom: 7.5%;
  }
}

.about-company__content p {
  display: block;
  // word-wrap: break-word;
  word-break: normal;
  word-wrap: normal;
  overflow-wrap: normal;
  max-width: 50vw;
  margin: 0;
  padding-bottom: 1.6%;
  color: $color-black-perl;
  font-family: $ff-ptmono;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -2.1px;

  @include vp-1023 {
    max-width: 60vw;
    font-size: 19px;
    line-height: 27.52px;
    padding-bottom: 4.5%;
    letter-spacing: -0.1px;
  }

  @include vp-767 {
    // max-width: 13%;
    max-width: 70vw;
    font-size: 1.5em;
    line-height: 33.5px;
    letter-spacing: 0.6px;
    // margin-top: 16px;
    // padding-bottom: 7.7%;
    padding-bottom: 0;
  }
}


.about-company span {
  @include vp-767 {
    display: none;
  }
}

.about-company__button {
  margin-top: 2.6%;
  max-width: 50vw;
  // word-wrap: break-word;
  word-break: normal;
  word-wrap: normal;
  overflow-wrap: normal;
  padding: 13px 39px 12px;

  text-align: center;
  font-family: $ff-roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.7px;
  text-transform: uppercase;

  @include vp-1023 {
    font-size: 17px;
    margin-top: 2.8%;
    padding: 14px 63px 13px;
  }

  @include vp-767 {
    // min-width: 160px;
    font-size: 1.5em;
    max-width: 70vw;
    letter-spacing: 1.9px;
    margin-top: 0.3%;
    padding: 16px 70px 14px;
  }

  &.is-without-js {
    display: none;
  }
}


.about-company__more-info {
  &.is-without-js {
    display: block;
  }

  &.is-hidden {
    display: none;
  }
}
