.advantages {
  background-color: $color-alice-blue-bg;
}

.advantages__container {
  max-width: 1220px;
  width: 90vw;
  margin: 0 auto 122px;
  padding-top: 120px;

  @include vp-1023 {
    margin-bottom: 75px;
    padding-top: 80px;
    width: 87%;
    min-width: 670px;
  }

  @include vp-767 {
    width: 84%;
    min-width: 270px;
    margin-bottom: 45px;
    padding-top: 50px;
  }
}

.advantages__list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin: 0;
  padding: 0;

  @include vp-1023 {
    gap: 30px;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
}

.advantages__item {
  max-width: 595px;
  border: 1px solid $color-whisper;
  border-left: 5px solid $color-deep-sky-blue;
  padding: 39px 44px 34px 40px;

  @include vp-1023 {
    padding: 39px 39px 30px 36px;
    min-height: 360px;
    min-width: 320px;
  }

  @include vp-767 {
    padding: 29px 30px 30px 25px;
    min-width: 210px;
    min-height: 325px;
    margin-bottom: 30px;
  }
}

.advantages__item:last-child {
  @include vp-767 {
    margin-bottom: 0;
  }
}

.advantages__item:first-child,
.advantages__item:nth-child(2) {
  @include vp-767 {
    min-height: 340px;
  }
}

.advantages__item:hover {
  background-color: $color-deep-sky-blue;
  border-color: $color-deep-sky-blue;

  h3,
  p {
    color: $color-alice-blue;
  }

  svg {
    fill: $color-alice-blue;
  }
}

.advantages svg {
  fill: $color-deep-sky-blue;
  margin: 0 0 14px 0;
  padding: 0;

  @include vp-1023 {
    margin-bottom: 8px;
  }

  @include vp-767 {
    width: 30px;
    height: 30px;
    margin-bottom: 9px;
  }
}

.advantages h3 {
  word-wrap:  break-word;
  hyphens: auto;
  font-family: $ff-roboto;
  font-size: 24px;
  font-weight: 400;
  line-height: 33.6px;
  color: $color-deep-sky-blue;
  margin: 0 0 15px 0;
  padding: 0;

  @include vp-1023 {
    margin-bottom: 6px;
    line-height: 35.9px; /* 583.333% */
  }

  @include vp-767 {
    font-size: 20px;
    margin-bottom: 8px;
    line-height: 31.13px;
  }
}



.advantages p {
  min-height: 120px;
  // hyphens: auto;
  color: $color-black-perl;
  font-family: $ff-ptmono;
  font-size: 16px;
  line-height: 21.6px;
  margin: 0;
  padding: 0;

  @include vp-1023 {
    line-height: 22px ; /* 21.6px */
  }

  @include vp-767 {
    min-height: 140px;
    height: auto;
    // height: fit-content;
    font-size: 14px;
    // border: 2px solid red;
    line-height: 19.9px; /* 18.9px */
    // margin-bottom: 50px;
  }
}
