.button {
  display: block;
  padding: 10px 15px 10px;

  text-align: center;
  font-family: $ff-roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  color: $color-alice-blue;

  background-color: $color-deep-sky-blue;
  border: 1px solid $color-deep-sky-blue;
  border-radius: 3px;
  transition: opacity $trans-default;
  user-select: none;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $color-deep-sky-blue;
    background-color: $color-alice-blue;
    border-color: $color-alice-blue;
    cursor: pointer;
  }

  &:focus {
    outline: 1px solid $color-deep-sky-blue;
  }

  &:active {
    color: $color-deep-sky-blue;
    background-color: $color-alice-blue;
  }

  &--dark {
    color: $color-alice-blue;
    background-color: $color-black-perl;
    border-color: $color-alice-blue;
  }

  &--dark:hover,
  &--dark:focus,
  &--dark:active {
    color: $color-black-perl;
    background-color: $color-alice-blue;
  }

  &--dark:focus {
    outline: 1px solid $color-deep-sky-blue;
  }

  &--dark:active {
    border: 1px solid $color-silver;
  }

  &--light {
    color: $color-deep-sky-blue;
    background-color: $color-default-white;
    border: 1px solid $color-deep-sky-blue;
  }

  &--light:hover,
  &--light:focus,
  &--light:active {
    color: $color-default-white;
    background-color: $color-deep-sky-blue;
  }

  &--light:focus {
    outline: 1px solid $color-deep-sky-blue;
  }

  &--light:active {
    border: 1px solid $color-silver;
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.btn {
  display: inline-flex;
  padding: 10px 20px;

  color: $color-default-white;

  background-color: $color-neon-blue;
  border: none;
  cursor: pointer;

  transition: opacity $trans-default;

  &--red {
    background-color: $color-torch-red;
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}

