.catalog {
  background-color: $color-black-perl;
  // min-height: fit-content;
}

.catalog .container {
  max-width: 66%;
  margin: 0 auto;
  padding: 0;
  padding-top: 3%;
  padding-bottom: 7.2%;

  @include vp-1023 {
    max-width: 90%;
    padding-top: 7.3%;
    padding-bottom: 9.5%;
  }

  @include vp-767 {
    padding-top: 15%;
    padding-bottom: 21%;
  }
}

.catalog h2 {
  margin: 0;
  margin-bottom: 52px;
  padding-left: 15px;
  display: block;
  max-width: 85%;
  word-break: normal;
  word-wrap: normal;
  overflow-wrap: normal;
  color: $color-default-white;
  font-family: $ff-roboto;
  font-size: 28px;
  letter-spacing: 0.6px;
  font-weight: 400;
  line-height: 50.63px;

  @include vp-1023 {
    max-width: 100%;
    font-size: 43px;
    line-height: 58.38px;
  }

  @include vp-767 {
    margin-bottom: 55px;
    font-size:3em;
    line-height: 67.38px;
  }
}

.catalog__title {
  display: inline;

  @include vp-767 {
    display: none;
  }

  &--mobile {
    display: none;

    @include vp-767 {
      display: inline;
    }
  }
}

.catalog__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  max-width: 98%;
  margin: 0 auto;
  gap: 6.5%;
  padding-left: 0;
  list-style: none;
  grid-auto-rows: 1fr;

  @include vp-1023 {
    grid-template-columns: minmax(670px, 920px);
    row-gap: 38px;
  }

  @include vp-767 {
    gap: 22px;
    max-width: 94%;
    grid-template-columns: minmax(270px, 1fr);
  }
}

.catalog__item {
  min-height: 33vw;
  position: relative;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &::after {
    content: "";
    position: absolute;
    right: 1px;
    bottom: 0;
    width: 50px;
    height: 50px;
    background-image: url("../img/svg/arrow.svg");
    background-position: center;
  }

  @include vp-1023 {
    min-height: 305px;

    &::after {
      width: 72px;
      height: 72px;
    }
  }

  @include vp-767 {
    margin: 0;
    min-height: 75.5vw;
    margin-bottom: 30px;

    &::after {
      width: 69px;
      height: 73px;
    }
  }

  &:hover,
  &:focus,
  &:active {
    outline: 1px solid $color-deep-sky-blue;
    opacity: 0.7;
  }
}

.catalog__item-link h3 {
  // max-width: 250px;
  max-width: 80%;
  // word-wrap: break-word;
  word-break: normal;
  word-wrap: normal;
  overflow-wrap: normal;
  margin: 0;
  padding: 35px 37px 0;
  color: $color-default-white;
  font-family: $ff-roboto;
  font-size: 1.1em;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: -0.4px;

  @include vp-1023 {
    max-width: 36%;
    padding: 43px 57px 0;
    // padding: 5vw 5.6vw 0;
    letter-spacing: 0.4px;
    font-size: 24px;
    line-height: 38px;
  }

  @include vp-767 {
    max-width: 72%;
    padding: 48px 50px 0;
    font-size: 1.9em;
    line-height: 53px;
    letter-spacing: 1.1px;
  }
}

.catalog__item-link--production {
  background-color: $color-deep-sky-blue;
  background-image: image-set(
    url("../img/catalog-card-1.webp") 1x,
    url("../img/catalog-card-1@2x.webp") 2x,
    url("../img/catalog-card-1.jpg") 1x,
    url("../img/catalog-card-1@2x.jpg") 2x
    );

  @include vp-1023 {
    background-image: image-set(
      url("../img/catalog-card-1-tablet.webp") 1x,
      url("../img/catalog-card-1-tablet@2x.webp") 2x,
      url("../img/catalog-card-1-tablet.jpg") 1x,
      url("../img/catalog-card-1-tablet@2x.jpg") 2x
    );
  }

  @include vp-767 {
    background-image: image-set(
      url("../img/catalog-card-1-mobile.webp") 1x,
      url("../img/catalog-card-1-mobile@2x.webp") 2x,
      url("../img/catalog-card-1-mobile.jpg") 1x,
      url("../img/catalog-card-1-mobile@2x.jpg") 2x
    );
  }
}

.catalog__item-link--mounting {
  background-color: $color-deep-sky-blue;
  background-image: image-set(
    url("../img/catalog-card-2.webp") 1x,
    url("../img/catalog-card-2@2x.webp") 2x,
    url("../img/catalog-card-2.jpg") 1x,
    url("../img/catalog-card-2@2x.jpg") 2x
  );

  @include vp-1023 {
    background-image: image-set(
      url("../img/catalog-card-2-tablet.webp") 1x,
      url("../img/catalog-card-2-tablet@2x.webp") 2x,
      url("../img/catalog-card-2-tablet.jpg") 1x,
      url("../img/catalog-card-2-tablet@2x.jpg") 2x
    );
  }

  @include vp-767 {
    background-image: image-set(
      url("../img/catalog-card-2-mobile.webp") 1x,
      url("../img/catalog-card-2-mobile@2x.webp") 2x,
      url("../img/catalog-card-2-mobile.jpg") 1x,
      url("../img/catalog-card-2-mobile@2x.jpg") 2x
    );
  }
}

.catalog__item {
  background-color: $color-deep-sky-blue;
  background-image: image-set(
    url("../img/catalog-card-3.webp") 1x,
    url("../img/catalog-card-3@2x.webp") 2x,
    url("../img/catalog-card-3.jpg") 1x,
    url("../img/catalog-card-3@2x.jpg") 2x
  );
background-repeat: no-repeat;
background-size: cover;
  @include vp-1023 {
    background-image: image-set(
      url("../img/catalog-card-3-tablet.webp") 1x,
      url("../img/catalog-card-3-tablet@2x.webp") 2x,
      url("../img/catalog-card-3-tablet.jpg") 1x,
      url("../img/catalog-card-3-tablet@2x.jpg") 2x
    );
  }

  @include vp-767 {
    background-image: image-set(
      url("../img/catalog-card-3-mobile.webp") 1x,
      url("../img/catalog-card-3-mobile@2x.webp") 2x,
      url("../img/catalog-card-3-mobile.jpg") 1x,
      url("../img/catalog-card-3-mobile@2x.jpg") 2x
    );
  }
}


