.footer__contacts-wrapper {
  // border: 2px solid green;
  padding-left: 30px;

  @include vp-1023 {
    padding: 0;
  }
}

.footer-contacts__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-contacts__item {
  margin-bottom: 5px;

  &:last-child {
    margin-bottom: 0;
  }

  @include vp-767 {
    margin-bottom: 4px;

    &:first-child {
      margin-bottom: 10px;
    }
  }
}

.footer__contacts-item-link,
.footer__contacts-item address  {
  font-family: $ff-ptmono;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 22px;
  color: rgba($color-default-white, 0.7);

  @include vp-1023 {
    margin-bottom: 20px;
    font-size: 1.2em;
  }

  @include vp-767 {
    font-size: 15px;
    padding-left: 6%;
  }

  &--tel {
    line-height: 25px;
  }
}

.footer__contacts-item-link {
  &:hover,
  &:focus,
  &:active {
    color: $color-deep-sky-blue;
  }
}
