.footer__contacts-wrapper {
  padding-left: 30px;

  @include vp-1023 {
    padding: 0;
    margin-left: -2px;
  }
}

.footer__contacts-list {
  margin: 0;
  padding: 0;
  list-style: none;

  @include vp-767 {
    display: flex;
    flex-direction: column;
  }
}

.footer__contacts-item {
  margin-bottom: 5px;

  &:last-child {
    margin-bottom: 0;
  }

  @include vp-767 {
    margin-bottom: 0;
    margin-top: 17px;
    margin-left: 0;
  }
}

.footer__contacts-item-link,
.footer__contacts-item address {
  font-family: $ff-ptmono;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 135%;
  color: rgba($color-default-white, 0.7);

  @include vp-767 {
    font-size: 14px;
    line-height: 19.9px;
  }
}

.footer__contacts-item--tel {
  line-height: 156.25%;
  margin-bottom: 7px;
  margin-top: 7px;

  @include vp-767 {
    margin-bottom: -11px;
    margin-top: 17px;
  }
}

.footer__contacts-item-link {
  &:hover,
  &:focus,
  &:active {
    color: $color-deep-sky-blue;
  }
}
