.feedback {
  background: $color-deep-sky-blue-bg;
  position: relative;
  z-index: 0;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: rgba($color-black-perl, 0.50);
    clip-path: polygon(47% 0, 0 100%, 0 0);
  }

  @include vp-1023 {
    &::before {
      display: none;
    }
  }
}

.feedback .container {
  display: grid;
  grid-template-columns: 2fr 3fr;
  padding: 140px 4vw 12.3vw 5vw;
  max-width: 70vw;
  gap: 5.6vw;

  @include vp-1023 {
    grid-template-columns: 1fr;
    gap: 0;
    padding: 60px 0vw 16vw 3.2vw;
    min-width: 92vw;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
  }
}

.feedback img {
  display: block;
  min-width: 25vw;
  margin-top: 80px;

  @include vp-1023 {
    display: none;
  }
}

.feedback h2 {
  margin: 0;
  margin-bottom: 10px;
  color: $color-default-white;
  font-family: $ff-roboto;
  font-size: 36px;
  font-weight: 400;
  line-height: 50.625px;

  @include vp-1023 {
    margin-bottom: 20px;
  }

  @include vp-767 {
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 42.188px;
  }
}

.feedback p {
  margin-top: 0;
  margin-bottom: 30px;
  color: $color-default-white;
  font-family: $ff-ptmono;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21.504px;

  @include vp-1023 {
    margin-bottom: 29px;
  }

  @include vp-767 {
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 18.816px;
  }
}
