.feedback {
  min-height: 837px;
  background: $color-deep-sky-blue-bg;
  position: relative;
  z-index: 0;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: rgba($color-black-perl, 0.5);
    clip-path: polygon(50.5% 0, 0 100%, 0 0);
  }

  @include vp-1023 {
    &::before {
      display: none;
    }
  }
}

.feedback__container {
  max-width: 1220px;
  width: 90vw;
  margin: 0 auto;
  padding-top: 163px;
  padding-bottom: 248px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 35px;

  @include vp-1023 {
    grid-template-columns: 1fr;
    gap: 0;
    max-width: 92%;
    padding-right: 0;
    padding-bottom: 16.5%;
    padding-top: 7%;
  }

  @include vp-767 {
    max-width: 90%;
    padding-top: 15%;
    grid-template-columns: 1fr;
    padding-bottom: 24.5%;
  }
}

.feedback picture {
  display: block;
  padding-top: 80px;
  // border: 5px solid red;
  margin: 0;
  max-width: 510px;

  @include vp-1023 {
    display: none;
  }
}

.feedback__form {
  margin: 0;
  max-width: 100%;
}

.feedback h2 {
  margin: 0 0 10px;
  padding: 0;
  font-family: $ff-roboto;
  font-size: 36px;
  font-weight: 400;
  line-height: 51px;
  color: $color-default-white;

  @include vp-1023 {
    font-size: 2.7em;
    margin-bottom: 20px;
  }

  @include vp-767 {
    margin-bottom: 20px;
    font-size: 3.3em;
    line-height: 72.19px;
  }
}

.feedback p {
  margin: 0 0 35px;
  padding: 0;
  font-family: $ff-ptmono;
  font-size: 16px;
  font-style: normal;
  line-height: 22px;
  color: $color-default-white;

  @include vp-1023 {
    margin-bottom: 29px;
  }

  @include vp-767 {
    max-width: 80%;
    margin-bottom: 13%;
    font-size: 1.6em;
    line-height: 32.82px;
    letter-spacing: 0px;
  }
}
