.footer {
  background-color: $color-black-perl;
  min-width: 100%;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  max-width: 69%;
  margin: 0 auto;
  padding-top: 2.5%;
  padding-bottom: 0.5%;
  padding-left: 2.7%;

  @include vp-1023 {
    flex-direction: column;
    max-width: 92%;
    padding-top: 6%;
    padding-bottom: 13%;
  }

  @include vp-767 {
    max-width: none;
    margin: 0 auto;
    padding-top: 10%;
  }
}

.footer__social-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 13%;
  // border: 2px solid red;
  @include vp-1023 {
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 6.6%;
  }

  @include vp-767 {
    flex-direction: column;
    margin-bottom: 12.5%;
  }
}

.footer__logo {
  // border: 2px solid red;
  margin-bottom: 9%;
  cursor: pointer;

  @include vp-1023 {
    // min-width: 100%;
    margin-bottom: 0;
  }

  @include vp-767 {
    min-height: 15vw;
    min-width: 67vw;
    margin-bottom: 0px;
  }
}

.footer__logo img {
  @include vp-767 {
    min-height: 100%;
    min-width: 100%;
  }
}

.footer__menu {
  display: flex;
  justify-content: space-between;
  margin-top: 7px;
  padding-right: 1px;

  @include vp-1023 {
    max-width: 91%;
    padding-right: 0;
      margin-top: 0;
  }

  @include vp-767 {
    min-width: 100%;
    flex-direction: column;
  }
}

.footer__menu-nav {
  max-width: 470px;

  @include vp-767 {
    max-width: none;
    margin: 0;
    padding-top: 21px;
    padding-bottom: 22px;
    border-top: 1px solid rgba($color-alice-blue, 0.7);
  }
}


.footer__menu-contacts {
  max-width: 345px;

  @include vp-1023 {
    max-width: 320px;
  }

  @include vp-767 {
    max-width: none;
    padding-top: 22px;
    padding-bottom: 14px;
    border-top: 1px solid rgba($color-alice-blue, 0.7);
    border-bottom: 1px solid rgba($color-alice-blue, 0.7);
  }
}

.footer h3 {
  color: $color-default-white;
  font-family: $ff-roboto;
  font-size: 1em;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -1.7px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-bottom: 14px;

  @include vp-1023 {
    margin-bottom: 30px;
  }

  @include vp-767 {
    margin-left: 6%;
    margin-bottom: 5%;
    letter-spacing: 1px;
    margin-top: 5%;
    font-size: 1.8em;
  }
}
