form {
  max-width: 86%;
  // overflow: hidden;

  @include vp-1023 {
    min-width: 100%;
    max-width: 100%;
    padding-right: 2%;
    // margin: 0;
    margin-left: 0;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
  }
}

.feedback__form-required-data {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5vw;
  margin: 0;
  margin-bottom: 1vw;
  border: none;
  padding: 0;

  @include vp-1023 {
    min-width: 90%;
    height: 50px;
    gap: 4.5%;
    margin-bottom: 35px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    // border: 2px solid red;
    height: auto;
    gap: 38px;
    margin-bottom: 8%;
  }
}

form input {
  padding: 10px;
  padding-left: 12px;
  font-family: $ff-ptmono;
  font-weight: 400;
  font-size: 13.5px;
  line-height: 21.65px;
  background-color: rgba($color-black-perl, 0.15);
  border: none;
  color: $color-default-white;
  width: 100%;

  &::placeholder {
    color: $color-default-white;
  }

  @include vp-1023 {
    font-size: 1.2em;
    padding: 20px;
  }

  @include vp-767 {
    font-size: 1.5em;
    letter-spacing: 1.5px;
    padding: 30px;
  }

  &:focus-visible {
    outline: none;
  }
}

form textarea {
  min-height: 127px;
  display: block;
  width: 100%;
  margin: 0;
  margin-bottom: 28px;

  font-family: $ff-ptmono;
  font-weight: 400;
  font-size: 14px;
  line-height: 21.65px;
  background-color: rgba($color-black-perl, 0.15);
  border: none;
  color: $color-default-white;
  padding: 10px;
  padding-left: 12.5px;
  padding-top: 17px;

  &::placeholder {
    color: $color-default-white;
  }

  @include vp-1023 {
    font-size: 1.2em;
    min-width: 95%;
    height: 190px;
    padding: 40px;
    padding-left: 20px;
  }

  @include vp-767 {
    height: 325px;
    margin-bottom: 32px;
    // padding: 25px;
    font-size: 1.5em;
    padding: 30px;
    padding-top: 50px;
    letter-spacing: 1.5px;
  }

  &:focus-visible {
    outline: none;
  }
}

.feedback__form-submit-wrapper,
.modal__form-submit-wrapper {
  border: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;

  align-items: flex-end;
  gap: 7.9%;
  width: 100%;

  @include vp-1023 {
    min-width: 100%;
    align-items: center;
    // gap: 0.1vw;
    gap: 4%;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    align-items: center;
    gap: 28px;
  }
}

.modal__form-submit-wrapper {
  grid-template-columns: 1fr;
  align-items: center;
}

.feedback__form-button,
.modal__form-button {
  padding: 10px 0px 11px;
  color: $color-default-white;
  font-size: 0.8em;
  letter-spacing: 0.8px;
  border: none;
  cursor: pointer;

  @include vp-1023 {
  // {padding: 0px 10px 11px;
    padding-bottom: 18px;
    font-size: 1.2em;
    margin-top: 20px;
    width: 33.8vw;
  }

  @include vp-767 {
    font-size: 1.8em;
    padding: 30px;
    padding-bottom: 19px;
    letter-spacing: 1px;
    width: 100%;
  }
}

.feedback__form-submit-wrapper label,
.modal__form-submit-wrapper label {
  display: flex;
  align-items: center;
  color: $color-default-white;
  font-family: $ff-ptmono;
  font-size: 0.7em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;

  @include vp-1023 {
    font-size: 0.9em;
    max-width: 235px;
    margin-top: 15px;
    margin-left: 0;
  }

  @include vp-767 {
    min-width: 100%;
    font-size: 1.5em;
  }
}

.modal__form-button,
.modal__form-submit-wrapper label {
  width: 100%;
}

.feedback__form-check-mark,
.modal__form-check-mark {
  position: relative;
  width: 15px;
  height: 15px;
  margin-right: 12px;
  flex-shrink: 0;
  border: 1px solid $color-default-white;
  border-radius: 2px;

  &::before {
    content: "";
    display: none;
    position: absolute;
    left: 30%;
    top: 50%;
    width: 10px;
    height: 13px;
    transform: translateY(-50%);
    background: url("../img/svg/agree.svg") center no-repeat;
  }

  @include vp-767 {
    height: 25px;
    width: 25px;
    // margin-right: 0;
  }
}

.feedback__form-submit-wrapper input,
.modal__form-submit-wrapper input {
  position: absolute;
  width: 1px;
  height: 1px;
  // margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);

  &:checked + .feedback__form-check-mark {
    &::before {
      display: block;
    }
  }

  &:checked + .modal__form-check-mark {
    &::before {
      display: block;
    }
  }
}

.modal form {
  min-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 5px;

  & input {
    margin-bottom: 20px;
  }

  & button {
    margin-bottom: 20px;
  }
}
