.header {
  min-height: 120px;
  min-width: 99vw;
  max-width: 99vw;
  position: fixed;
  width: 100%;
  z-index: 10;
  background: $black-header-background;

  @include vp-1023 {
    min-height: 100px;
    max-height: 110px;
    position: static;
  }

    @include vp-767 {
    min-height: 70px;
  }
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 40px;
  box-sizing: border-box;
  // max-width: 66.3vw;
  max-width: calc(1920px - 350px - 410px);
  // margin: 0 410px 0 350px;
  // padding:

  @include vp-1023 {
    padding: 20px 93px 9.5% 1%;
    min-width: 650px;
  }

  @include vp-767 {
    padding: 15px 35px 20px 26px;
    min-width: 259px;
  }
}

.header__logo {
  margin-right: 6%;
  margin-left: -9.5%;

  @include vp-1279 {
    margin: 0;
    margin-right: 7%;
  }

  @include vp-1023 {
    display: block;
    margin: 0;
    margin-left: 6.5%;
    margin-top: 10px;
  }

  @include vp-767 {
    margin-left: 8.1%;
    min-width: 35px;
    min-height: 35px;
    padding-top: 7px;
    padding-bottom: 10px;
  }
}

.header__logo-image {
  width: 100%;
}

.header__contacts {
  width: 479px;
  margin-left: -4%;

  @include vp-1023 {
    min-width: 100px;
    margin-left: -7%;
    justify-content: flex-end;
  }
}

.header__contacts-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  @include vp-1023 {
    justify-content: flex-end;
  }
}

.header__contacts-list li {
  display: flex;
  width: 225px;

  @include vp-1023 {
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    padding: 10px;
    margin-left: 30px;
  }

  @include vp-767 {
    flex-wrap: wrap;
    width: 40px;
    height: 40px;
  }
}

.header__contacts a {
  width: 225px;
  display: flex;
}

.header__contacts span {
  color: $color-alice-blue;
  font-family: $ff-ptmono;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  margin-left: 15px;

  @include vp-1023 {
    display: none;
  }
}

.header__contacts-link-icon {
  // padding: 10px;
  // background-color: #fff;
  @include vp-1023 {
    margin-top: -1.7vw;
    margin-left: -1.4vw;
    box-sizing: content-box;
    padding: 10px;
    // padding-top: 10px;
  }
}

.header__contacts-item:hover,
.header__contacts-item:focus,
.header__contacts-item:active {
  background-color: $color-alice-blue;

  & span {
    color: $color-black-perl;
  }

  @include hover-focus {
    background-color: $color-alice-blue;
    color: $color-black-perl;
  }
}

.header__button {
  border-color: $color-alice-blue;
  box-sizing: border-box;
  width: 160px;
  height: 40px;
  margin-right: 3.3vw;

  @include vp-1023 {
    display: none;
  }
}
