.header {
  min-height: 120px;
  position: fixed;
  width: 100%;
  z-index: 10;
  background: $black-header-background;

  @include vp-1023 {
    min-height: 100px;
    position: static;
  }

    @include vp-767 {
    min-height: 70px;
  }
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 35px;
  padding-bottom: 40px;

  box-sizing: border-box;
  // max-width: 90%;
  max-width: calc(1920px - 350px - 410px);
  // max-width: 60%;

  @include vp-1023 {
    padding: 20px 70px 25px 50px;
    min-width: 650px;
    align-items: flex-start;
  }

  @include vp-767 {
    padding: 15px 35px 20px 26px;
    min-width: 259px;
  }
}

.header__logo {
  margin-right: 8%;
  margin-left: -6.5%;
  // padding-right: 160px;


  @include vp-1279 {
    margin: 0;
  }

  @include vp-1023 {
    margin: 0;
    margin-left: 6.5%;
  }

  @include vp-767 {
    margin-left: 8.1%;
    // box-sizing: content-box;
    min-width: 35px;
    min-height: 35px;
    padding-top: 7px;
    padding-bottom: 10px;
    // padding-left: 16px;
  }
}

.header__contacts {
  width: 479px;
  margin-left: -7%;
  flex-wrap: wrap;

  @include vp-1023 {
    min-width: 100px;
    justify-content: flex-end;
  }
}

.header__contacts-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  @include vp-1023 {
    justify-content: inherit;
  }
}

.header__contacts-list li {
  display: flex;
  width: 225px;

  @include vp-1023 {
    width: 40px;
    height: 40px;
    padding: 10px;
  }

  @include vp-767 {
    flex-wrap: wrap;
    width: 40px;
    height: 40px;
  }
}

.header__contacts a {
  width: 225px;
  display: flex;
}

.header__contacts-link-icon {
  margin-right: 15px;
}

.header__contacts span {
  color: $color-alice-blue;
  font-family: $ff-ptmono;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;

  @include vp-1023 {
    display: none;
  }
}

.header__contacts a,
.header__contacts span {
  &:hover,
  &:focus,
  &:active {
    background-color: $color-alice-blue;
    color: $color-black-perl;
  }

  @include hover-focus {
    background-color: $color-alice-blue;
    color: $color-black-perl;
  }
}

.header__button {
  border-color: $color-alice-blue;
  box-sizing: border-box;
  width: 160px;
  height: 40px;

  @include vp-1023 {
    display: none;
  }
}
