.header {
  position: fixed;
  width: 100%;
  z-index: 10;
  background: $black-header-background;

  @media (max-width: $vp-1023) {
    position: static;
  }
}

.header .container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 35px;
  padding-bottom: 40px;
  max-width: calc(1920px - 350px - 410px);

  @media (max-width: $vp-1023) {
    padding: 20px 70px 25px 50px;
    min-width: 650px;
    align-items: flex-start;
  }

  @media (max-width: $vp-767) {
    padding: 15px 35px 20px 26px;
    min-width: 259px;
  }
}

.header__logo {
  margin-right: auto;

  @media (max-width: $vp-1023) {
    margin: 0;
  }

  @media (max-width: $vp-767) {
    box-sizing: content-box;
    min-width: 35px;
    min-height: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 26px;
  }
}

.header__contacts {
  width: 479px;
  // margin-left: 160.5px;
  margin-right: auto;
  flex-wrap: wrap;

  @media (max-width: $vp-1023) {
    min-width: 100px;
    justify-content: flex-end;
  }
}

.header__contacts-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  @media (max-width: $vp-1023) {
    justify-content: inherit;
  }
}

.header__contacts-list li {
  display: flex;
  width: 225px;

  @media (max-width: $vp-1023) {
    width: 40px;
    height: 40px;
    padding: 10px;
  }

  @media (max-width: $vp-767) {
    flex-wrap: wrap;
    width: 40px;
    height: 40px;
  }
}

.header__contacts a {
  width: 225px;
  display: flex;

  &:hover,
  &:active,
  &:focus {
    background: $color-neon-blue;
  }
}

.header__contacts-link-icon {
  margin-right: 15px;
}

.header__contacts span {
  color: $color-alice-blue;
  font-family: $ff-ptmono;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;

  @media (max-width: $vp-1023) {
    display: none;
  }

  &:hover,
  &:active,
  &:focus {
    color: $color-default-white;
  }
}

.header__button {
  color: $color-alice-blue;
  text-align: center;
  font-family: $ff-roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.7px;
  text-transform: uppercase;

  display: block;
  border-radius: 3px;
  border: 1px solid $color-alice-blue;
  box-sizing: border-box;
  padding: 10px 15px;
  width: 160px;
  height: 40px;

  @media (max-width: $vp-1023) {
    display: none;
  }

  &:hover,
  &:active,
  &:focus {
    cursor: pointer;
    background: $color-neon-blue;
  }
}
