.intro {
  width: 100%;
  background-color: $color-black-perl;
  background-image: image-set(
    url("../img/bg-intro.webp") 1x,
    url("../img/bg-intro@2x.webp") 2x,
    url("../img/bg-intro.jpg") 1x,
    url("../img/bg-intro@2x.jpg") 2x
  );
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include vp-1023 {
    margin-top: -95px;
  }

  @include vp-767 {
    margin-top: -65px;
  }
}

.intro__container {
  min-height: 880px;
  max-width: 1220px;
  margin: 0 auto;
  padding-top: 305px;
  padding-bottom: 288px;
  margin-bottom: -8px;

  @include vp-1023 {
    padding-top: 167px;
    padding-bottom: 100px;
    max-width: 670px;
    max-height: fit-content;
    min-height: 627px;
    margin-bottom: 12px;
  }

  @include vp-767 {
    min-height: 550px;
    width: 84.5%;
    margin-bottom: 0;
    padding-top: 145px;
    padding-bottom: 190px;
  }
}

.intro__wrapper {
  margin-left: 124px;

  @include vp-1023 {
    margin: 0;
  }
}

.intro h2 {
  margin: 0 0 32px;
  padding: 0;
  font-family: $ff-roboto;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: 94px;
  letter-spacing: 5.6px;
  text-transform: uppercase;
  color: $color-alice-blue;

  @include vp-1023 {
    font-size: 64px;
    line-height: 75px;
    margin-bottom: 0;
    letter-spacing: 4.48px;
  }

  @include vp-767 {
    font-size: 36px;
    line-height: normal;
    letter-spacing: 2.52px;
    margin-bottom: 8px;
  }
}

.intro p {
  max-width: 685px;
  margin: 0 0  47px;
  padding: 0;
  font-family: $ff-ptmono;
  font-size: 22px;
  font-weight: 400;
  line-height: 34.1px;
  color: $color-alice-blue;

  @include vp-1023 {
    margin-bottom: 57px;
  }

  @include vp-767 {
    width: 270px;
    margin-bottom: 46px;
    font-size: 14px;
    line-height: 21.7px; /* 21.7px */
  }
}

.intro__button {
  display: inline-block;
  padding: 16px 27px;

  color: $color-alice-blue;
  font-size: 18px;
  letter-spacing: 0.9px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: $color-deep-sky-blue;
  border: none;

  max-width: 90%;

  @include vp-1023 {
    margin-left: 45px;
  }

  @include vp-767 {
    // min-width: 100%;
    min-width: 270px;
    margin: 0;
    padding: 12px 30px;
    font-size: 14px;
    line-height: normal;
    letter-spacing: 0.7px;
  }
}

.intro__button-description {
  display: block;
  word-wrap: break-word;


  @include vp-767 {
    display: none;
  }

  &--mobile {
    display: none;

    @include vp-767 {
      display: inline;
    }
  }
}
