.footer-contacts__list {
  @include vp-767 {
    display: flex;
    flex-direction: column;
  }
}

.footer__menu-nav-wrapper:not(.footer-contacts__list) {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6%;

  @include vp-1023 {
    display: flex;
    flex-direction: column;
  }
}

.footer__menu-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__menu-item {
  margin-bottom: 5px;
  &:last-child {
    margin-bottom: 0;
  }

  @include vp-1023 {
    margin-bottom: 10px;
  }

  @include vp-767 {
    padding-left: 10px;
  }
}

.footer__menu-item-link {
  font-family: $ff-ptmono;
  font-weight: 400;
  font-style: normal;
  font-size: 0.9em;
  line-height: 1.35;
  color: rgba($color-default-white, 0.7);

  @include vp-1023 {
    font-size: 1.2em;
  }

  @include vp-767 {
    font-size: 14px;
    padding-left: 4.5%;
  }

  &:hover,
  &:focus,
  &:active {
    color: $color-deep-sky-blue;
  }
}
