.footer__social-list {
  list-style: none;
  padding: 0;
  margin: 0 0 0 -40px;
  display: grid;
  grid-template-columns: repeat(3, 40px);
  grid-template-rows: 40px;
  gap: 15px;

  @include vp-1023 {
    padding: 0;
    margin-right: -2px;
    margin-top: -7px;
  }

  @include vp-767 {
    margin: 8px 0 4px -5px;
  }
}

.footer__social-item {
  position: relative;
}

.footer__social-item-link {
  position: absolute;
  width: 42px;
  height: 42px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0;
  line-height: 0;
  padding: 5px;
  fill: $color-alice-blue;
  color: $color-alice-blue;
}

.footer__social-item-link svg {
  fill: $color-alice-blue;
  width: 40px;
  height: 40px;
  margin-left: -8px;

  &:hover,
  &:focus,
  &:active {
    fill: $color-deep-sky-blue;
  }

  @include vp-767 {
    margin-left: 0;
  }
}
